body {
	color: #222;
	background-color: #eee;
	font-family: arial;
	margin: 0px;
}

.header {
	padding: 20px;
	color: #33aa90;
	background-color: #000;
	font-size: 30px;
}

.navbar {
	font-size: 20px;
	height: 50px;
	background-color: #ccc;
}

.navbar a {
	padding: 12px;
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	text-decoration: none;
}

.navbar a:hover {
	transition: 0.2s;
	background-color: #aaa;
}

.content {
	padding: 20px;
}
